header {
 position: fixed;
 width: 100%;
 z-index: 1;
 background-color: white;
}

header nav ul li {
 padding-top: 20px;
 margin-left: 50px;
}
header nav ul li a {
 color: black;
 cursor: pointer;

}

.logo{
  max-width:250px;
  max-height:80px;
  width: auto;
  height: auto;
}

a:hover {
 text-decoration: none;
 color: #1FA597;
 font-size: 20px;
 font-weight: bolder;

}