header {
   position: fixed;
   width: 100%;
   z-index: 1;
   background-color: #FBA858;
}

header nav ul li {
   padding-top: 20px;
   margin-left: 50px;
}
header nav ul li a {
   color: white;
   cursor: pointer;
}